.form-inscr {
    border-radius: 5px !important;
    box-shadow: -5px 5px 10px grey !important;
    opacity: 0.9;
    background-color: black;
    color: white;
}

body {
    background-image: url("../img/inscr_wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.error {
    background-color: rgba(196, 28, 28, 0.849);
    padding-top: 3px;
    padding-bottom: 3px;
    color:white;
    border-radius: 4px;

}

.invisible {
    display:none;
}